In [8]:
import pandas as pd

# Load the dataset
file_path = 'adult_with_headers.csv'
df = pd.read_csv(file_path)

In [9]:
# Display the first few rows of the dataset
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
# Generate summary statistics
df.describe(include='all')

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
count,32561.000000,32561,3.256100e+04,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561.000000,32561.000000,32561,32561
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [11]:
# Check for missing values
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [12]:
# Check data types
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [13]:
# Check the proportion of missing values
missing_values = df.isnull().mean()
print(missing_values)

age               0.0
workclass         0.0
fnlwgt            0.0
education         0.0
education_num     0.0
marital_status    0.0
occupation        0.0
relationship      0.0
race              0.0
sex               0.0
capital_gain      0.0
capital_loss      0.0
hours_per_week    0.0
native_country    0.0
income            0.0
dtype: float64

In [14]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [15]:
# Remove rows with missing values
df_clean = df.dropna()

In [19]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [23]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Select numerical features
numerical_features = ['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']

# Apply Standard Scaling
scaler_standard = StandardScaler()
df_standard_scaled = df_clean.copy()
df_standard_scaled[numerical_features] = scaler_standard.fit_transform(df_clean[numerical_features])

# Apply Min-Max Scaling
scaler_minmax = MinMaxScaler()
df_minmax_scaled = df_clean.copy()
df_minmax_scaled[numerical_features] = scaler_minmax.fit_transform(df_clean[numerical_features])

In [24]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# Identify categorical features
categorical_features = ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country']

# Apply One-Hot Encoding to categorical variables with less than 5 categories
one_hot_features = [col for col in categorical_features if df_clean[col].nunique() < 5]
df_one_hot_encoded = pd.get_dummies(df_clean, columns=one_hot_features)

# Apply Label Encoding to categorical variables with more than 5 categories
label_encoder = LabelEncoder()
label_features = [col for col in categorical_features if df_clean[col].nunique() >= 5]

for col in label_features:
    df_clean[col] = label_encoder.fit_transform(df_clean[col])

In [16]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Select numerical features
numerical_features = df_clean.select_dtypes(include=['int64', 'float64']).columns

# Apply Standard Scaling
scaler_standard = StandardScaler()
df_standard_scaled = df_clean.copy()
df_standard_scaled[numerical_features] = scaler_standard.fit_transform(df_clean[numerical_features])

# Apply Min-Max Scaling
scaler_minmax = MinMaxScaler()
df_minmax_scaled = df_clean.copy()
df_minmax_scaled[numerical_features] = scaler_minmax.fit_transform(df_clean[numerical_features])

In [25]:
# Create new features
df_clean['age_bin'] = pd.cut(df_clean['age'], bins=[0, 30, 60, 90], labels=['Young', 'Middle-aged', 'Old'])
df_clean['capital_diff'] = df_clean['capital_gain'] - df_clean['capital_loss']

In [26]:
import numpy as np

# Check skewness
print(df_clean[numerical_features].skew())

# Apply log transformation to a skewed feature (example: capital_gain)
df_clean['capital_gain_log'] = np.log1p(df_clean['capital_gain'])

age                0.558743
fnlwgt             1.446980
education_num     -0.311676
capital_gain      11.953848
capital_loss       4.594629
hours_per_week     0.227643
dtype: float64

In [27]:
from sklearn.ensemble import IsolationForest

iso_forest = IsolationForest(contamination=0.01)
outliers = iso_forest.fit_predict(df_clean[numerical_features])
df_no_outliers = df_clean[outliers == 1]

In [28]:
import ppscore as pps

# Calculate PPS matrix
pps_matrix = pps.matrix(df_no_outliers)
print(pps_matrix)

# Compare with correlation matrix
correlation_matrix = df_no_outliers.corr()
print(correlation_matrix)

                    x                 y   ppscore            case  \
0                 age               age  1.000000  predict_itself
1                 age         workclass  0.000000      regression
2                 age            fnlwgt  0.000000      regression
3                 age         education  0.000000      regression
4                 age     education_num  0.000000      regression
..                ...               ...       ...             ...
319  capital_gain_log    native_country  0.000000      regression
320  capital_gain_log            income  0.288064  classification
321  capital_gain_log           age_bin  0.000000  classification
322  capital_gain_log      capital_diff  0.792427      regression
323  capital_gain_log  capital_gain_log  1.000000  predict_itself

     is_valid_score               metric  baseline_score   model_score  \
0              True                 None        0.000000      1.000000
1              True  mean absolute error        0.752200      0.881118
2              True  mean absolute error    75280.738200  76194.495330
3              True  mean absolute error        2.724400      2.741064
4              True  mean absolute error        1.895400      1.946050
..              ...                  ...             ...           ...
319            True  mean absolute error        2.357000      4.221578
320            True          weighted F1        0.655551      0.754774
321            True          weighted F1        0.472400      0.465588
322            True  mean absolute error      707.076000    146.769839
323            True                 None        0.000000      1.000000

                        model
0                        None
1     DecisionTreeRegressor()
2     DecisionTreeRegressor()
3     DecisionTreeRegressor()
4     DecisionTreeRegressor()
..                        ...
319   DecisionTreeRegressor()
320  DecisionTreeClassifier()
321  DecisionTreeClassifier()
322   DecisionTreeRegressor()
323                      None

[324 rows x 9 columns]
                       age  workclass    fnlwgt  education  education_num  \
age               1.000000   0.002349 -0.078381  -0.012104       0.027975
workclass         0.002349   1.000000 -0.019014   0.022617       0.048787
fnlwgt           -0.078381  -0.019014  1.000000  -0.028094      -0.044853
education        -0.012104   0.022617 -0.028094   1.000000       0.358720
education_num     0.027975   0.048787 -0.044853   0.358720       1.000000
marital_status   -0.267748  -0.063737  0.028937  -0.037431      -0.065917
occupation       -0.020568   0.253129 -0.000712  -0.022301       0.107705
relationship     -0.262531  -0.090480  0.009059  -0.008955      -0.090772
race              0.026764   0.049253 -0.021959   0.014227       0.030329
capital_gain      0.113056   0.028064 -0.007218   0.025686       0.142219
capital_loss      0.040646   0.007155 -0.024947   0.019020       0.067438
hours_per_week    0.068564   0.137986 -0.022202   0.053674       0.142529
native_country   -0.001112  -0.007797 -0.053194   0.064241       0.050638
capital_diff      0.105213   0.026542 -0.003483   0.022488       0.129994
capital_gain_log  0.116637   0.016597 -0.006346   0.018849       0.111198

                  marital_status  occupation  relationship      race  \
age                    -0.267748   -0.020568     -0.262531  0.026764
workclass              -0.063737    0.253129     -0.090480  0.049253
fnlwgt                  0.028937   -0.000712      0.009059 -0.021959
education              -0.037431   -0.022301     -0.008955  0.014227
education_num          -0.065917    0.107705     -0.090772  0.030329
marital_status          1.000000   -0.009047      0.185231 -0.067551
occupation             -0.009047    1.000000     -0.075743  0.007028
relationship            0.185231   -0.075743      1.000000 -0.115594
race                   -0.067551    0.007028     -0.115594  1.000000
capital_gain           -0.058882    0.021710     -0.071316  0.021375
capital_loss           -0.033694    0.015009     -0.059857  0.015090
hours_per_week         -0.188983    0.078285     -0.247410  0.041734
native_country         -0.023699   -0.012369     -0.004844  0.136055
capital_diff           -0.052985    0.019162     -0.061417  0.018820
capital_gain_log       -0.062231    0.015521     -0.076867  0.023894

                  capital_gain  capital_loss  hours_per_week  native_country  \
age                   0.113056      0.040646        0.068564       -0.001112
workclass             0.028064      0.007155        0.137986       -0.007797
fnlwgt               -0.007218     -0.024947       -0.022202       -0.053194
education             0.025686      0.019020        0.053674        0.064241
education_num         0.142219      0.067438        0.142529        0.050638
marital_status       -0.058882     -0.033694       -0.188983       -0.023699
occupation            0.021710      0.015009        0.078285       -0.012369
relationship         -0.071316     -0.059857       -0.247410       -0.004844
race                  0.021375      0.015090        0.041734        0.136055
capital_gain          1.000000     -0.047248        0.083356        0.009580
capital_loss         -0.047248      1.000000        0.047600       -0.002204
hours_per_week        0.083356      0.047600        1.000000       -0.002308
native_country        0.009580     -0.002204       -0.002308        1.000000
capital_diff          0.989497     -0.191142        0.075022        0.009733
capital_gain_log      0.827572     -0.060276        0.071570        0.008451

                  capital_diff  capital_gain_log
age                   0.105213          0.116637
workclass             0.026542          0.016597
fnlwgt               -0.003483         -0.006346
education             0.022488          0.018849
education_num         0.129994          0.111198
marital_status       -0.052985         -0.062231
occupation            0.019162          0.015521
relationship         -0.061417         -0.076867
race                  0.018820          0.023894
capital_gain          0.989497          0.827572
capital_loss         -0.191142         -0.060276
hours_per_week        0.075022          0.071570
native_country        0.009733          0.008451
capital_diff          1.000000          0.821944
capital_gain_log      0.821944          1.000000

C:\Users\Reshma\AppData\Local\Temp\ipykernel_1808\4243696395.py:8: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df_no_outliers.corr()